.page-header__logo {
  opacity: 0;
  transform: translateX(-100%);

  .load & {
    animation: fadeInTransformLeft 0.5s cubic-bezier(0, 1.06, 0.55, 0.98) forwards;
  }
}

.page-header__nav {
  opacity: 0;

  .load & {
    animation: fadeIn 1.2s cubic-bezier(0.14, 1.04, 0.58, 0.95) forwards;
  }
}

.page-header__menu {
  a {
    transition: color 0.35s ease;

    &::after {
      display: block;
      width: 0;
      left: initial;
      right: 0;
      transition: width 0.35s ease;
    }

    &:focus,
    &:hover {
      &::after {
        width: 100%;
        right: auto;
        left: 0;
      }
    }

    &.active {
      &::after {
        right: auto;
        left: 0;
        animation: fullWidth 0.35s ease 0.5s forwards;
      }
    }
  }
}

@keyframes fullWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeInTransformLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
