.prizes {
  &__item {
    .prizes__icon {
      @media screen and (min-width: 1025px) {
        left: initial;
        bottom: initial;
        width: 30rem;
        max-width: 350px;
      }
    }

    &--journeys {
      opacity: 0;
      transform: translateX(31rem);
      animation: fadeIn 0.35s ease forwards, slideFromRightJourneys 1.35s ease forwards 3.5s;

      b {
        opacity: 0;
        animation: fadeIn 1s ease forwards 2.5s;
      }

      span {
        opacity: 0;
        animation: fadeInTransformRight 1s ease forwards 2.5s;
      }
    }

    &--cases {
      opacity: 0;
      animation: fadeIn 0.35s forwards 4s;

      b {
        opacity: 0;
        animation: fadeIn 1s ease forwards 5.5s;
      }

      span {
        opacity: 0;
        animation: fadeInTransformRight 1s ease forwards 5.5s;
      }
    }

    &--codes {
      opacity: 0;
      animation: fadeIn 0.35s forwards 7s;

      b {
        opacity: 0;
        animation: fadeIn 1s ease forwards 7.5s;
      }

      span {
        opacity: 0;
        animation: fadeInTransformRight 1s ease forwards 7.5s;
      }
    }
  }
}

@keyframes slideFromRightJourneys {
  from {
    transform: translateX(31rem);
  }

  to {
    transform: translateX(0);
  }
}
