.text-animation__word {
  display: inline-block;
  margin: 0 0.5rem;
  overflow: hidden;
  line-height: 1.25;

  & > span {
    transform: translate3d(0, 1.3em, 0);
    display: inline-block;
    will-change: transform;

    .text-animation.active & {
      transform: translate3d(0, 0, 0);
    }
  }
}
